.WhatLook--container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.WhatLook--container h1{
  font-family: 'Poppins';
  margin-top: 4rem;
  font-weight: 600;
  color: #297a9c;
}
.WhatLook--container__content{
  display: flex;
  flex-direction: row;

}
.WhatLook--container__content--card{
  /* tertiary new web design */

  background: rgba(167, 215, 236, 0.54);
  /* 16 dp umbra */

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14.328px;
  height: 370px;
  width: 470px;
  margin-top: 1.8rem;
  margin-right: 28rem;
}

.WhatLook--container__content--list{
  margin-top: 2.1rem;
}
.WhatLook--container__content--list__item{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem 0;
  margin-left: -20rem;
}
.WhatLook--container__content--card img{
  box-sizing: border-box;
  margin: 2rem;
  width: 180px;
  height: 180px;
}
.WhatLook--container p{
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 18px;
  margin-left: 1rem;
  letter-spacing: 0.03em;
}
.WhatLook--container__mobile{
  display: flex;
  flex-direction: row;
}
.db{
  width: 200px;
  height: 200px;
  margin-top: -8rem;
  margin-right: 40rem;
  margin-left: 3rem;
}
.mb{
  width: 180px;
  margin-top: -5rem;
  margin-left: 2rem;
}